.pfp {
  border-radius: 30px;
  margin-top: 10px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.details {
  text-align: center;
  /* margin-left: 200px; */
  color: white;
}

.username {
  font-weight: bold;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 27px;
  margin: 0;
}

.id {
  font-weight: 100;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

.desc {
  font-family: Inter;
  font-size: 20px;
  margin: 0;
}

.intro {
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 75%;
  color: rgba(216, 216, 218, 0.65);
  font-family:  "Helvetica Neue", sans-serif;
}

.introduce {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: justify;
}

/* ========================================== */
.NE {
  text-align: center;
  color: white;
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif;
}

.horizontal-line {
  border: none;
  height: 4px;
  background-color: rgba(28, 183, 211, 0.863);
  margin: 2px; 
  width: 10%;
  width: 10%;
  margin-left: 45%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.content2 {
  width: 100%;
  overflow-x: auto; /* Membuat scroll horizontal */
  white-space: nowrap; /* Mengatur agar elemen-elemen tetap dalam satu baris */
  -webkit-overflow-scrolling: touch;
}

.gambar-container {
  display: inline-block;
  white-space: nowrap; /* Mencegah wrap dalam satu baris */
}

.gambar {
  width: 200px; /* Sesuaikan ukuran gambar */
  height: 200px;
  background-color: #ccc; /* Ganti dengan background gambar Anda */
  margin-right: 10px; /* Beri jarak antar gambar */
  display: inline-block; /* Mengatur agar gambar-gambar itu berada dalam satu baris */
}