@font-face {
  font-family: "kaisei";
  font-style: bold;
  font-weight: 500;
  font-display: block;
  src: url(../assets/font.ttf) format("truetype")
}

body, html {
    margin: 0px;
    padding: 0px;
    background: black;
}

  ::-webkit-scrollbar {
    display: none; /* Untuk browser yang menggunakan engine WebKit seperti Chrome, Safari */
  }

/* -============================ */
.header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 10px;
    /* padding-right: 30px; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

.logo {
    display: flex;
    align-items: center; 
  }

.logo1 {
    margin-right: 10px;
    padding: 0px;
    border-size: 1px;
    border-radius: 8px;
  }

.home {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: kaisei;
}

/* ========================================= */

.menu {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.menu-item {
    margin-right: 30px;
    color: white;
    font-size: 1rem;
    /* font-weight: bold; */
    text-decoration: none;
    background: rgb(38, 38, 38);
    padding: 10px 20px;
    border: none;
    border-radius: 4px 20px;
  }

.menu-item:last-child {
    margin-right: 0;
  }

a {
    text-decoration: none;
  }

/* ============== Content =================== */

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner {
  border: 1px solid white;
  border-radius: 0px 0px 40px 40px;
  width: 100%;
}

.pfp {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* ======================== */
.details {
  text-align: center;
  margin-top: 2rem;
  color: white;
}

.username {
  font-weight: bold;
  margin-bottom: 6px;
  font-weight: bold;
  font-family: Roboto Serif;
  font-size: 27px;

}

.desc {
  font-family: Inter;
  font-size: 20px;
}

.intro {
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto; /* Mengatur margin vertikal ke 0 dan horizontal ke auto */
  width: 80%;
  color: white;
}

.introduce {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: justify;
}

.horizontal-line {
  border-top: 2px solid #acacac; /* Membuat garis horizontal berwarna hitam dengan ketebalan 1 piksel */
  width: 85%;
  margin: 0 auto;
}

/* ========================================== */

.exp {
  margin-left: 8%;
  font-size: 20px;
  /* margin-top: 3px; */
  color: white;
}

.chevron {
  display: inline-block;
  overflow: hidden;
}

.content2 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.exp1 {
  /* margin-left: 0px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 4px;
}

.exp-asset {
   margin-bottom: 1px;
}

.idpro {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 1px;
  color: white;
}

a {
  color: white;
}

.footer-line {
  border-top: 2px solid #acacac; /* Membuat garis horizontal berwarna hitam dengan ketebalan 1 piksel */
  width: 100%;
  margin: 0 auto;
}

.footer {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.copy {
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
