html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .magazine-layout {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 20px;
    border-bottom: 1px solid rgb(56, 56, 56);
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .image-container {
    flex: 0 0 150px; /* Fixed width for the image container */
    margin-right: 20px;
  }
  
  .magazine-image {
    width: 100%;
    height: auto;
  }
  
.imgid{
    border: 1px solid rgb(56, 56, 56);
    border-radius: 0 0 20px 0px;
}

  .text-container {
    flex: 1;
    margin-top: -80px;
  }
  
  .magazine-title {
    margin-top: 0;
    font-size: 24px;
    color: #ffffff;
  }
  
  .magazine-description {
    font-size: 16px;
    color: #d3d3d3;
    text-align: justify;
  }

  @media screen and (max-width: 768px) {
    .magazine-layout {
      flex-direction: column;
      align-items: flex-start;
    }
  
    
    .image-container {
      flex: none; /* Reset flex value */
      margin-right: 0;
      margin-bottom: 20px;
    }


    .text-container {
        margin-top: 20px;
    }
  }
  