@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kaisei";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(./assets/font.ttf) format("truetype")
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}

.container {
  margin: 0;
  padding: 0;
}

.landingh1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: kaisei;
  color: white;
}

Image {
  align-items: center;
  margin: 20px;
}

button {
  border: 1px solid #ffffff;
  text-align: center;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 40px;
  padding: 2px;
}

a {
  text-decoration: none;
  text-align: center;
}

.landingh2 {
  text-align: center;
  align-items: center;
  color: rgb(170, 169, 169);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-family : "DM Sans", sans-serif;
}

/* 768 */
@media screen and (max-width: 768px) {
  .landingh1 {
    margin-top: 50px;
    color: red;
    font-size: 40px;
  }

  Image {
    width: 250px;
    height: 250px;
  }

  .landingh2 {
    margin-top: 10px;
  }
}